@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@700&display=swap');

:root {
    --cor1: #FB581E;
    --cor2: #F4C13F;
    --cor3: #E7F097;
    --cor4: #65D366;
    --cor5: #69C6AB;
    --cor6: #70867C;
    --cor7: #42564D;
    --cor8: #181818;
    --cor9: #f7f7f7;
}

@keyframes flick {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.flick {
    animation: flick 1s ease-out infinite alternate-reverse;
}

.flick2 {
    animation: flick 300ms linear infinite alternate-reverse;
}

@keyframes scroll {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-500px);
    }
}

.scroll {
    animation: scroll 1s linear infinite;
}

@keyframes jump1 {
    0% {
        transform: translateX(8px) translateY(0px) rotate(5deg);
    }

    50% {
        transform: translateX(0px) translateY(-8px) rotate(0deg);
    }

    100% {
        transform: translateX(-8px) translateY(0px) rotate(-5deg);
    }

}

@keyframes jump2 {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }

}

.jump {
    animation: jump1 500ms linear infinite alternate-reverse;
}

.jump2 {
    animation: jump2 300ms ease-in-out infinite;
}

* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Silkscreen', cursive;
}

body {
    overflow: hidden;
    user-select: none;
}

#bg img {
    position: absolute;
    z-index: 0;
    height: 100vh;
}

#menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

#logo {
    width: clamp(275px, 50vw, 600px);
    margin-top: 60px;
}

#aperte-espaco {
    padding: 0px 40px;
    text-align: center;
    color: var(--cor7);
    font-size: 1.2rem;
}

#aperte-espaco em {
    color: var(--cor3);
    text-shadow: 3px 3px var(--cor7);
    font-style: normal;
    font-size: 1.5rem;
}

footer {
    padding: 0px 40px;
    text-align: center;
    color: var(--cor7);
}

footer span a {
    color: var(--cor3);
    text-shadow: 2px 2px var(--cor7);
    text-decoration: none;
}

#sound {
    position: absolute;
    z-index: 1;
    content: url(src/SVG/sound-off.svg);
    height: 40px;
    width: 40px;
    top: 15px;
    left: 15px;
    padding: 8px;
    border-radius: 20px;
    transition: 100ms ease-out;
}

#sound:hover {
    background-color: var(--cor6);
}

#sound:active {
    background-color: var(--cor7);
    scale: 80%;
}

@media (max-width: 800px) {
    @keyframes scroll {
        0% {
            transform: translateX(0px);
        }
    
        100% {
            transform: translateX(-355px);
        }
    }

    * {
        font-size: 16px;
    }
}